* {
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/galaxy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-family: sans-serif;
}


.container {
  width: 80%;
  max-width: 400px;
  margin-inline: auto;
  margin-top: 50px;
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 40px;
}

input, button {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
}

input {
  margin-bottom: 15px;
}

button {
  background-color: blueviolet;
  color: white;
  border: none;
  transition: filter 1s;
}

button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

#resposta {
  margin-top: 15px;

  transition: opacity 1s;
}

#resposta div {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
  opacity: 0.9;
}


